{% extends "admin/base_site.html" %}
{% load admin_list i18n %}
{% load url from future %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/changelists.css" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css" />
  {% endif %}
  {% if cl.formset or action_form %}
    {% url 'admin:jsi18n' as jsi18nurl %}
    <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <script type="text/javascript" src="{% get_static_prefix %}appomatic_appadmin/js/jquery.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}appomatic_appadmin/js/progress.js"></script>
  <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}appomatic_appadmin/css/progress.css" />
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="../../">
        {% trans "Home" %}
      </a>
       &rsaquo;
       <a href="../">
         Appomatic
      </a>
      &rsaquo;
      Applications
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <h1>Installed applications</h1>
  <div id="content-main">
    <ul class="object-tools">
      <li>
	<a href="add/" class="addlink">Download new applications</a>
      </li>
      <li>
	<a href="javascript:void(0)" class="reloadlink" onclick="callWithProgress('{% url 'appomatic_appadmin.views.action' %}', {action:'reload'}, 'Reloading server');">Reload</a>
      </li>
    </ul>
    <div class="module" id="changelist">
      {% block result_list %}
	<form id="changelist-form" action="{% url 'appomatic_appadmin.views.action' %}" method="post">
	  {% csrf_token %}
	  <div class="actions">
	    <label>
	      Action:
	      <select name="action">
		<option value="" selected="selected">---------</option>
		<option value="uninstall_selected">Uninstall selected</option>
	      </select>
	    </label>
	    <button type="button" class="button" title="Run the selected action" name="index" value="0" onclick="submitFormWithProgress();">Go</button>
	    <script type="text/javascript">var _actions_icnt="1";</script>
	    <span class="action-counter" style="display: inline; ">0 of 1 selected</span>
	  </div>
	  <div class="results">
	    <table cellspacing="0" id="result_list">
	      <thead>
		<tr>
		 <th scope="col" class="action-checkbox-column">
		   <input type="checkbox" id="action-toggle" style="display: inline-block; ">
		  </th>
		  <th scope="col">
		    <a href="?ot=desc&amp;o=1">Name</a>
		  </th>
		  <th scope="col">
		    <a href="?ot=asc&amp;o=2">Description</a>
		  </th>
		</tr>
	      </thead>
	      {% for app_source,apps in installed_apps.items %}
		<tbody>
		  <tr><th colspan="3">{{app_source}}</th></tr>
		  {% for app in apps %}
		    <tr class="row1">
		      <td class="action-checkbox">
			{% if app_source = 'pip/local' %}
			  <input type="checkbox" class="action-select" value="{{app.NAME}}" name="_selected_action">
			{% endif %}
		      </td>
		      <th><a href="{{app.NAME}}/">{{app.NAME}}</a></th>
		      <td>{{app.DESCRIPTION}}</td>
		    </tr>
		  {% endfor %}
		</tbody>
	      {% endfor %}
	    </table>
	  </div>
	</form>
      {% endblock %}
    </div>
  </div>
{% endblock %}
